<h1><%= @title %>: <%= @group.mu_name %></h1>

<div class="group-img">
  <img src="<%= @group.mu_thumb_link %>"/>
  <a href="<%= @group.mu_link %>">Meetup</a>
</div>

<div class="events">
  <h2>Upcoming Event</h2>

  <p>Event summary goes here</p>
</div>

<div class="members">
  <h2><%= @group.who %></h2>
  <ul>Who's going
  <% @rsvps.each do | user | %>
  <li>
    <a href="/members/<%= user.id %>" title="<%= user.mu_name %>"><img src="<%= user.mu_thumb_link %>" /></a>
    <div class="user-projects">
      <ul>Projects
      <% user.visible_projects.each do | project | %>
      <li><a href="/projects/<%= project.id %>" title="<%= project.description %>"><%= project.full_name %></a></li>
      <% end %>
      </ul>
    </div>
  </li>
  <% end %>
  </ul>

  <ul>Haven't decided
  <% @non_rsvps.each do | user | %>
  <li>
    <a href="/members/<%= user.id %>" title="<%= user.mu_name %>"><img src="<%= user.mu_thumb_link %>" /></a>
  </li>
  <% end %>
  </ul>
</div>
