<div class="jumbotron">
  <h2><a href="<%= @group.mu_link %>" title="Link to meetup.com Group"><img class="img-rounded thumb-height" src="<%= @group.mu_thumb_link %>" alt="photo"/></a> <%= @group.mu_name %>
  </h2>

  <div class="container">
  <% if @event %>
    <h4>Upcoming Event</h4>
    <p><a href="<%= @event.event_url %>" title="Link to meetup.com Event"><span class="glyphicon glyphicon-calendar"></span> <%= @event.name %></a><br />
    <span class="event-cal"><%=raw format_event_datetime(@event.time_in_zone) %> &nbsp; RSVP'd: <%= @event.yes_rsvp_count %></span></p>
    <% if session[:mu_uid] %>
      <address class="event-cal">
        <strong><%= @event.venue_name %></strong><br/>
        <%= @event.venue_street %>,
        <%= @event.venue_city %>
      </address>
    <% end %>
  <% end %>
  </div>
</div>

<div class="members">
  <h3><span class="glyphicon glyphicon-user"></span> <%= @group.who %></h3>
  <% if @event %>
    <h4>Attending next event:</h4>
    <div class="row">
    <% unless @confirms.blank? %>
      <% @confirms.each do | user | %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <a class="pull-left" href="/members/<%= user.id %>" title="<%= user.mu_name %>"><img class="img-thumbnail thumb-height" src="<%= user.mu_thumb_link %>" alt="<%= user.mu_name %>" /></a>
        <% visibles = user.visible_projects
          unless visibles.blank? %>
        <ul class="ul-project">
          <% count = max_project_count(visibles, 3)
            0.upto(count-1) { | i | project = visibles[i] %>
            <li><a href="/projects/<%= project.id %>" title="<%= project.description %>"><%= project.full_name %></a>
            </li>
          <% } %>
        </ul>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>No Project Night members has confirmed for this event.</p>
      </div>
    <% end %>
    </div>
  <% end %>

  <% unless @unconfirms.blank? %>
    <% if @event %>
      <h4>May attend next event:</h4>
    <% end %>
    <ul class="ul-thumb">
      <% @unconfirms.each do | user | %>
      <li>
        <a href="/members/<%= user.id %>" title="<%= user.mu_name %>"><img class="img-thumbnail thumb-height" src="<%= user.mu_thumb_link %>" alt="<%= user.mu_name %>" /></a>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
