<div id="location">
  <%= form_tag "/location/change", {id: "location_form", method: :put} do %>
  <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-lg-5">
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-map-marker" title="Current location"></span>
      <input class="form-control" type="text" name="location" maxlength="255" placeholder="Ottawa, ON, CA" value="<%= get_location %>" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Change</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <% end %>
</div>

<h1><%= @title %></h1>

<div class="projects">
  <% if @projects.blank? %>
  <p>There are no visible projects. Try changing your location<% if session[:mu_id].blank? %> or <a href="/signin">Sign in</a> to create projects<% end %>.</p>
  <% else %>
  <div class="row">
  <% @projects.each do | project | %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="project-box">
      <p><a href="/projects/<%= project.id %>">
        <% if project.is_github %>
          <img src="/images/GitHub-Mark-32px.png" height="16px" title="GitHub project" />&nbsp;
        <% else %>
          <span class="glyphicon glyphicon-folder-open" title="Project" />
        <% end %>
        <span class="project-name"><%= project.full_name %></span></a><br />
        <span class="project-lang"><%= project.language %></span>
      </p>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>

