<h1><%= @title %></h1>

<div class="projects">
  <ul>
  <% @projects.each do | project | %>
  <li>
    <div class="project-img">
      <a href="/projects/<%= project.id %>"><%= project.full_name %></a><br />
      lang: <%= project.language %> city: <%= project.city %>
    </div>
  </li>
  <% end %>
  </ul>
</div>

