<div class="jumbotron">
  <div class="container">
    <h1>Project Night <em>Meta</em></h1>  
    <div class='row'>
      <div class='col-md-6'>
        <p>Find Project in your Area</p>        
      </div>
        <div class='col-md-6'>
          <p>Or <%= link_to 'Sign In','/signin',class: 'btn-lg btn-primary'%> with <%= link_to image_tag('meetup_logo.png'),'/signin' %> to share your own Projects</p>
        </div>
      </div>
      <div id="location">
        <%= form_tag "/location/change", {id: "location_form", method: :put} do %>
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-map-marker" title="Current location"></span>
                <input class="form-control" type="text" name="location" maxlength="255" placeholder="Ottawa, ON, CA" value="<%= get_location %>" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Change</button>
                </span>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>


<h1><%= @title %></h1>

<div class="projects">
  <% if @projects.blank? %>
    <p>There are no visible projects. Try changing your location<% if session[:mu_id].blank? %> or <a href="/signin">Sign in</a> to create projects<% end %>.</p>
  <% else %>
    <div class="row">
      <%= render partial: 'projects/project', collection: @projects %>
    </div>
  <% end %>
</div>
