<div>
  <h2><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <%= @title %></h2>

  <div class="container">
    <%= form_tag "/user/projects/sync", {id: "sync_project_form"} do %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>
          <button type="submit" class="btn btn-primary btn-block">
          <span class="glyphicon glyphicon-refresh"></span> Sync GitHub Projects Now
          </button>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>
          <a class="btn btn-primary btn-block" href="/user/projects/new">
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Create New Project
          </a>
        </p>
      </div>
    </div>
    <% end %>
    <br />
  </div>
</div>

<div class="row">
  <% @user.projects.each do | project | %>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bottom-gap">
    <div class="thumbnail">
      <div class="container bottom-gap">
 
      <p><% if project.is_github -%>
        <img src="/images/GitHub-Mark-32px.png" height="16px" /> <strong><%= project.full_name %></strong>
        <%- else -%>
        <a href="/user/projects/<%= project.id %>/edit" title="Edit Project">
          <span class="glyphicon glyphicon-folder-open"></span>&nbsp; <strong><%= project.full_name %></strong>
        </a>
        <%- end -%>
      </p>
      <p><%= project.description %></p>
      <% if project.is_github %>
        <p class="project-lang">
        <% if project.language %>
          <%= project.language %> &nbsp;
        <% end %>
        <% if project.fork %>
        fork &nbsp;
        <% end %>
        <a href="<%= project.html_url %>">GitHub</a>
        </p>
      <% end %>

      <%= form_tag( "/user/projects/#{project.id}/doaction", method: :put ) do %>
        <% if project.visible %>
          <a href="/projects/<%= project.id %>" title="Preview as public"><span class="glyphicon glyphicon-eye-open"></span></a>&nbsp;
        <% end %>
        <button class="btn btn-default" name="submit[toggle]" title="Toggle public visibility" type="submit"><span class="glyphicon glyphicon-eye-<%= project.visible ? 'close' : 'open' %>"></span> <%= project.visible ? 'Hide' : 'Show' %></button>
        &nbsp;

        <% if @contributor %>
          <% if !@contributor.contributor_of?(project) %>
          <button class="btn btn-warning" name="submit[del-contrib]" title="Remove Contributor" type="submit"><span class="glyphicon glyphicon-minus"></span> <%= @contributor.mu_name %></button>
          <% else %>
          <button class="btn btn-success" name="submit[add-contrib]" title="Add Contributor" type="submit"><span class="glyphicon glyphicon-plus"></span> <%= @contributor.mu_name %></button>
          <% end %>
          &nbsp;
        <% end %>

        <% unless project.is_github %>
        <button class="btn btn-danger btn-xs" name="submit[delete]" title="Delete this project" type="submit"><span class="glyphicon glyphicon-remove"></span></button>
        <% end %>
      <% end %>

      </div>
    </div>
  </div>
  <% end %>
</div>
