<h2><span class="glyphicon glyphicon-plus-sign"></span> <%= @title %></h2>

<%= form_for :project, {url: "/user/projects", class: 'form-horizontal'} do |f| %>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label class="col-md-2 col-lg-2 control-label">Name</label>
        <div class="col-md-6 col-lg-6">
        <%= f.text_field :full_name, {class: 'form-control', maxlength: 255,  placeholder: "project name"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label class="col-md-2 col-lg-2 control-label">Description</label>
        <div class="col-md-10 col-lg-10">
          <%= f.text_field :description, {class: 'form-control', maxlength: 255,  placeholder: "short summary"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label class="col-md-2 col-lg-2 control-label">Language</label>
        <div class="col-md-4 col-lg-4">
          <%= f.text_field :language, {class: 'form-control', maxlength: 255, placeholder: "primary language"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-10 col-lg-10">
          <button class="btn btn-success" name="commit" title="Create Project" type="submit"><span class="glyphicon glyphicon-save"></span> Create</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
