<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Project Night <em>Meta</em></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <%- if session[:mu_uid] -%>
          <li><%= link_to 'My Groups', '/user/groups', {title: 'My Meetup groups'} -%></li>
          <li><%= link_to 'My Projects', '/user/projects', {title: 'My projects'} -%></li>
          <%- end -%>
          <li><a href="/about">About</a></li>         
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%- if session[:mu_uid] -%>
          <li><%= link_to "#{session[:mu_name]}",'/user/account'%></li>         
          <li><%= link_to content_tag( :span, nil, :class => 'glyphicon glyphicon-cog'),'/user/account'%></li>
          <li><%= link_to content_tag( :span, nil, :class => 'glyphicon glyphicon-off'),'/user/signout'%></li>
          <%- else -%>
          <li><%= link_to 'Sign in', '/signin'%></li>
          <li><%= link_to content_tag( :span, nil, :class => 'glyphicon glyphicon-off'),'/signin'%></li>
          <%- end -%>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>