<!DOCTYPE html>
<html>
  <head>
    <title>Meetup Project Night Meta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="<%= stylesheet_path 'bootstrap.min' %>" media="screen"/>-->
    <!--<link rel="stylesheet" href="<%= stylesheet_path 'bootstrap-theme.min' %>" media="screen"/>-->
    <%= stylesheet_link_tag    "application", media: "screen" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="footer">
    <p>&nbsp;</p>
    </div>
  </div><!-- /.container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="<%= javascript_path 'jquery-2.0.3.min' %>"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="<%= javascript_path 'bootstrap.min' %>"></script>
  <%= javascript_include_tag "application" %>
  </body>
</html>

