<div class='row'>
  <div class='col-md-3 col-md-offset-4'>
        <%= link_to image_tag(@member.mu_photo_link, class: 'center'), @member.mu_link %>
        <%= link_to content_tag(:h1, @member.mu_name, class: 'text-center'), @member.mu_link %>
  </div>
</div>

  <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <%= @member.mu_name %>'s Projects</h3>
<div class="row">
  <%= render partial: 'projects/project', collection: @member.visible_projects %>
</div>


<% unless @other_projects.blank? %>
  <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp; <%= @member.mu_name %>'s Collaborations</h3>
  <div class="row">
    <%= render partial: 'projects/project', collection: @other_projects %>
  </div>
<% end %>

<% if @user && @member != @user %>
  <p><a class="btn btn-primary" href="/members/<%= @member.id %>/manage" title="Modify contributor status in my projects">Manage <%= @member.mu_name %> as a Contributor</a></p>
<% end %>

<h3><span class="glyphicon glyphicon-th-large"></span> <%= @member.mu_name %>'s Meetup Groups</h3>
<div class="groups">
  <div class="row">
  <%= render partial: 'groups/group', collection: @member.groups %>
  </div>
</div>
