<h1><%= @member.mu_name %></h1>

<div class="profile-photo">
  <p><a href="<%= @member.mu_link %>" title="Meetup page"><img src="<%= @member.mu_photo_link %>"/></a></p>
</div>

<h3>Projects</h3>
<div class="projects">
  <ul>
  <% @member.visible_projects.each do | project | %>
  <li>
    <a href="/projects/<%= project.id %>"><%= project.full_name %></a> &nbsp; lang: <%= project.language %>
  </li>
  <% end %>
  </ul>

  <% unless @other_projects.blank? %>
  <h3>Collaborations</h3>
  <ul>
  <% @other_projects.each do | project | %>
  <li>
    <a href="/projects/<%= project.id %>"><%= project.full_name %></a> &nbsp; lang: <%= project.language %>
  </li>
  <% end %>
  </ul>
  <% end %>
  <% if @user && @member != @user %>
  <p><a href="/members/<%= @member.id %>/manage" title="Modify contributor status in my projects">Manage <%= @member.mu_name %> as a Contributor</a></p>
  <% end %>
</div>

<h3>Meetup Groups</h3>
<div class="groups">
  <ul>
  <% @member.groups.each do | group | %>
  <li>
    <a href="/groups/<%= group.urlname %>"><img src="<%= group.mu_thumb_link %>"/> <%= group.mu_name %></a>
  </li>
  <% end %>
  </ul>
</div>
