<h1><%= @title %></h1>
<div id="account_intro">
  <% if @user.should_sync %>
<p>User has not sync Meetup groups - provide instruction to complete profile</p>
  <% else %>
<p>User has already sync'd groups - provide alternative text</p>
  <% end %>
</div>

<div id="profile">
  <h2>Profile</h2>
  <div class="profile-photo">
  <img src="<%= @user.mu_photo_link %>" title="Avatar"/>
  </div>

  <div class="profile-info">
  <%= form_tag "/account/update/profile", {id: "profile_form"} do %>
  <p>Email address<br/>
  <input class="profile-info-field" type="text" name="email" size="30" maxlength="255" placeholder="you@domain.com" value="<%= @user.email %>"/>
  </p>
  <p><input id="profile_btn" type="submit" value="Update"/></p>
  <% end %>
  <p>Adding an email address is optional. It will be kept private. We will only use it to send
notifications and announcements about our services.
  </p>
  </div>
</div>

<div id="groups">
  <h2>Meetup Groups</h2>
  <div class="group-sync">
  <%= form_tag "/account/sync/groups", {id: "sync_group_form"} do %>
  <input id="sync_group_btn" type="submit" value="Sync now"/>
  <% end %>
  </div>

  <div class="groups">
  <ul>
  <% @user.groups.each do | group | %>
  <li>
    <div class="group-img">
      <a href="/groups/<%= group.urlname %>"><img src="<%= group.mu_thumb_link %>"/> <%= group.mu_name %></a>
    </div>
  </li>
  <% end %>
  </ul>
  </div>
</div>

<div id="projects">
  <h2>GitHub Projects</h2>
  <div class="project-sync">
  <%= form_tag "/account/sync/projects", {id: "sync_project_form"} do %>
  <input id="sync_project_btn" type="submit" value="Sync now"/>
  <% end %>
  </div>

  <div class="projects">
  <ul>
  <% @user.projects.each do | project | %>
  <li>
    <div class="project-entry">
      <a href="/project/<%= project.id %>"><%= project.full_name %></a>
    </div>
  </li>
  <% end %>
  </ul>
  </div>
</div>
